*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-text-size-adjust: none;
}

html,body{
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1;
    min-height:100%;
    height: 100%;
}
body{
    color: #555;
    font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑",Arial,Helvetica,sans-serif;
}

ul,ol,figure,form,dl,dt,dd{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
    vertical-align: middle;
}

a{
    color: #0395d0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.row{
    position: relative;
}
.container{
    position: relative;
    width: 80%;
    max-width: 1280px;
    margin: auto;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}

.container .col-50 {
    float: left;
    width: 50%;
    padding: 0px 15px;
}

header{
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.1);
    color: #fff;
    text-shadow: 1px 2px 0 rgba(0,0,0,.2);
}
header .container{
    padding: 10% 25% 10% 0;
    background: url(../img/rocket.png) no-repeat right center;
}
header h1{
    font-size: 4em;
    font-weight: normal;
}
header h2{
    margin: 0;
    font-weight: normal;
}
header dl{
    display: inline-block;
    width: 45%;
    line-height: 1.8;
}
header dt{
    float: left;
}
header form a{
    color: #fff;
}
header form a.apply{
    display: inline-block;
    padding: .5em 2em;
    background: #fff;
    border-radius: 5px;
    font-size: 2em;
    font-weight: bold;
    vertical-align: bottom;
    text-shadow: none;
    color: #f59340;
}
header form a.apply:hover{
    text-decoration: none;
}

.flow .container{
    padding: 5% 0;
}
.flow .timeline p,
.flow .timeline h3{
    margin: 0;
    line-height: 40px;
}

.flow .timeline{
    position: relative;
    margin-left: 130px;
    padding-left: 70px;
}
.flow .timeline:before{
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    height: 100%;
    border-left: 4px solid #eee;
}
.flow .timeline ul.item-list{
    position: relative;
    list-style: none;
}
.flow .timeline li.item{
    position: relative;
    margin: 20px 0;
}
.flow .timeline li.topic{
    min-height: 80px;
}
.flow .timeline li.item .meta{
    position: absolute;
    left: -180px;
    width: 180px;
    overflow: visible;
}
.flow .timeline li.item .meta i.fa{
    position: absolute;
    left: 98px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    background: #0395d0;
    color: #fff;
    text-align: center;
}
.flow .timeline li.item .meta i.figure{
    display: inline-block;
    position: absolute;
    left: 68px;
    width: 80px;
    height: 80px;
    border: 2px solid #0395d0;
    border-radius: 100%;
}
.flow .timeline li.item .meta i.figure img{
    width: 100%;
    padding: 2px;
    border-radius: 100%;
    background: #fff;
}
.flow .timeline li.item p.date{
    position: absolute;
    left: 0;
    line-height: 20px;
}
.flow .timeline li.topic p.date{
    line-height: 80px;
}
.flow .timeline li.item .content{
    position: relative;
    z-index: 1;
}
.flow .timeline li.item h3{
    display: block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    font-weight: normal;
}
.flow .timeline li.topic h3{
    line-height: 80px;
}

.flow h2,
.speakers h2,
#apply h2{
    height: 2em;
    line-height: 2em;
    margin: 0 0 1em 0;
    padding-left: 1em;
    border-left: 3px solid #0395d0;
    font-size: 3em;
    font-weight: normal;
}

.speakers .container{
    padding-bottom: 5%;
}
.speakers ul:after{
    content: "";
    display: block;
    clear: both;
}
.speakers li{
    list-style: none;
    float: left;
    position: relative;
    width: 48%;
    background: #eee;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 2% 2% 2% 12%;
}
.speakers li:nth-child(odd){
    margin-right: 4%;
}
.speakers figure{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 15%;
    transform: translateY(-50%);
}
.speakers figure img{
    width: 100%;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.speakers figcaption{
    margin-top: .5em;
    text-align: center;
}
.speakers h3{
    margin: 0 0 .8em 0;
}
.speakers p{
    margin: .5em 0;
}

#apply .container{
    padding: 1% 0 5% 0;
}
#apply h2{
    float: left;
    margin-right: 1em;
}
#apply h2+p{
    margin-top: 1.5em;
    line-height: 1.5em;
    color: #999;
}
#apply h2+p b{
    margin: 0 .2em;
}

footer{
    background: #ccc;
}
footer .container{
    padding: 5% 0 1% 0;
}
footer h2{
    margin-top: 0;
    text-align: center;
    font-size: 2em;
}
footer p{
    width: 60%;
    margin: .5em auto;
    line-height: 1.8;
}
footer .copyright{
    margin-top: 5%;
    text-align: center;
}

@media (max-width: 1024px) {
    .container{
        width: 90%;
    }
    header .container{
        padding-right: 0;
        padding-top: 50%;
        background-position: top 20% center;
        text-align: center;
    }
    header form dd{
        text-align: left;
    }
}

@media (max-width: 768px) {
    header .container{
        padding-top: 80%;
        background-position: top 10% center;
        background-size: 50%;
        text-align: left;
    }
    header h1{
        font-size: 2em;
    }
    header h2{
        font-size: 1.2em;
    }
    header form dl{
        width: 100%;
        margin-bottom: 2em;
    }
    header form a.apply{
        display: block;
    }

    .flow .timeline{
        margin-left: 90px;
        padding-left: 60px;
    }
    .flow .timeline li.item .meta{
        left: -150px;
        width: 150px;
    }
    .flow .timeline li.item .meta i.fa{
        left: 78px;
    }
    .flow .timeline li.item .meta i.figure{
        left: 48px;
    }
    .flow .timeline li.item h3{
        line-height: 1.5em;
        height: auto;
    }

    .speakers li{
        float: none;
        width: 100%;
        margin-right: 0;
        padding: 5% 5% 5% 30%;
    }
    .speakers figure{
        width: 20%;
    }

    #apply h2{
        float: none;
    }

    footer p{
        width: 100%;
    }
}